<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your file <%= @file.label %> is now online.</h1>
    <p>
      To download it, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
