<%# convert class variable to a local variable if the local hasn't been set %>
<% imported_metadata = @imported_metadata unless imported_metadata  %>

    <h2>Matching Files</h2>
    By default, files are matched based on the path implied by the <b>Drive Name</b> and <b>Folder Name</b> in the imported metadata.

    <h3>Candidate matches:</h3>
    <%= render partial: 'search_form'%>
    <%= render partial:'matching_files_list', locals:{matching_files: @matches} %>
