<%# convert class variable to a local variable if the local hasn't been set %>
<% imported_metadata = @imported_metadata unless imported_metadata  %>

    <h2 class="non lower">Descriptions</h2>
    <table class="table table-striped"><!-- class="verticalheadings"> -->
      <tbody>
        <% imported_metadata.terms_for_display.each do |term| %>
          <%= render_show_field_partial(term, generic_file: imported_metadata) %>
        <% end %>
      </tbody>
    </table> <!-- /verticalheadings -->

