    <h2 class="non lower">Actions</h2>
    <p>
      <%= link_to "Download", sufia.download_path(@imported_metadata.noid) %>
      <!-- &nbsp;|&nbsp; -->
      <%# link_to "Cite", citation_generic_file_path, {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'}, :action => 'citation' %>
      <% if can? :edit, @imported_metadata %>
          &nbsp;|&nbsp;
          <%= link_to "Edit", edit_imported_metadata_file_path   %>
      <%end %>
    </p>
    <p>Export to:
      <%= link_to 'PBCore', imported_metadata_file_path(@imported_metadata.noid, :format => 'xml') %>
    </p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <!-- AddThis Button END -->
