<h1>Edit Imported Metadata</h1>
<%= link_to raw('<i class="icon-eye"></i> Stop Editing'), imported_metadata_file_path(@imported_metadata.noid), :class=> 'itemicon', :title => 'Stop Editing'  %>
<%= render partial: "form" %>