# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
#
# use this: strings /dev/urandom | grep -o '[[:alnum:]]' | head -n 128 | tr -d '\n'; echo
Hydradam::Application.config.secret_key_base = 'd8faddfe1cf67d69b0bd2860429fc1834f6c2d954a0b28c8ef916329ddcb721ac90afb8f174d165140d2093e851170e569dad24d57e20a56e4911b60383b43ac'
