        <tr>
          <th>Contributor</th>
          <td>
            <% @generic_file.contributor.each do |contributor| %>
              <%= link_to_field('contributor', Array(contributor.name).first.to_s) %><br />
            <% end %>
          </td>
        </tr>

