        <tr>
          <th>Publisher</th>
          <td>
            <% @generic_file.publisher.each do |pub| %>
              <%= link_to_facet(Array(pub.name).first.to_s, Solrizer.solr_name("desc_metadata__publisher", :facetable)) %><br />
            <% end %>
          </td>
        </tr>

