
.navbar .brand {
  background: transparent url(/assets/logo.gif) no-repeat top right;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  text-indent: 170px;
  font-size: 20px;
  background-position: 0 10px;
  
}

body {
  background: url(/assets/bg_body.gif) 50% 0 repeat-y;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

.label-info {
  background-color: #00bfff;
}
.label-success {
  background-color: #468847;
}

#wrap {
  padding-top: 38px;
  background: url(/assets/bg_holder.jpg) 50% 0 no-repeat;
}

.fornav {
    position:relative;
    margin-left:-22px;
    z-index:2;
}

ul.nav li a.top_nav {
  padding: 19px 30px;
  font-size: 18px;
  margin-left: -1px;
}
.btn-group {
  margin-left: 10px;
}

.navbar-static-top {
  margin-bottom: 1px;
  line-height: 32px;
}

.navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;
}

.navbar-secondary .container {
  width: 940px;
}
.accessible-hidden {
  display: none;
}

.controls {
  margin-bottom: 5px;
}

#content {
  min-height: 625px;
}

footer {
  padding-top: 28px;
  background: url(/assets/bg_footer.jpg) 50% 0 no-repeat;
}

