<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <p class="fright"><%= Sufia::VERSION %></p>
      <p>This software has been developed by and is brought to you by 
		 <a target="_blank" href="http://www.wgbh.org">WGBH</a> and the 
		 <a target="_blank" href="http://projecthydra.org">Hydra community.</a>
         <a target="_blank" href="http://projecthydra.org">
           <%= image_tag "PoweredByHydra.png" %>
         </a>
      </p>
    </div>
  </div>
</footer><!-- /footer-wrapper -->

