<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <p class="fright">
      <a href="/versions/"><%= Sufia::VERSION %></a></p>
      <a href="/"></a>
      <p>A service of Project Hydra.</p>
    </div>
    <div class="footer-text">
      <p><strong>Copyright &copy; 2012 Project Hydra</strong></p>
    </div>
  </div>
</footer><!-- /footer-wrapper -->

