<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <p class="fright"><%= Sufia::VERSION %></p>
      <p>This software has been developed by and is brought to you by the Hydra Community. Learn more at the 
	     <a target="_blank" href="http://projecthydra.org">Project Hydra website.</a>
         <a target="_blank" href="http://projecthydra.org">
           <img style="max-width:100%;" alt="Project Hydra Logo"
           src="https://github.com/uvalib/libra-oa/blob/a6564a9e5c13b7873dc883367f5e307bf715d6cf/public/images/powered_by_hydra.png?raw=true">
         </a>
      </p>
    </div>
  </div>
</footer><!-- /footer-wrapper -->

