<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <p class="fright"><%= Sufia::VERSION %></p>
      <p>This software has been developed by and is brought to you by the Hydra Community. Learn more at the 
	     <a target="_blank" href="http://projecthydra.org">Project Hydra website.</a>
         <a target="_blank" href="http://projecthydra.org">
           <img alt="Project Hydra Logo" <%= image_tag "PoweredByHydra.png" %> >
         </a>
      </p>
    </div>
  </div>
</footer><!-- /footer-wrapper -->

