<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <p class="fright"><%= Sufia::VERSION %></p>
      <p>A service of Project Hydra.</p>
    </div>
    <div class="footer-text">
      <p><strong>Copyright &copy; 2012 Project Hydra</strong></p>
    </div>
  </div>
</footer><!-- /footer-wrapper -->

